<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="card-columns wd-200">
     
        <div class="card border-dark mb-3" *ngFor='let product of products'>
         <div class="card-body text-center"><img src="{{ product.productImage}}"><p> {{product.title}} : ${{product.price}}</p>
          <button (click)="sendToEditProduct(product._id)" class="btn-infobtn btn-outline-primary btn-sm">Edit</button><button (click)="deleteProduct(product._id)"class="btn-darkbtn btn-outline-danger btn-sm ml-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>